html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
}

.copyright {
  margin-left: 3%;
}

.toTop {
  margin-right: 15%;
}

.icons {
  display: flex;
  font-size: 35px;
  margin-right: 3%;
}

@media (max-width: 480px) {
  .copyright,
  .icons,
  .toTop {
    margin-left: 20%;
  }

  .icons {
    font-size: 80px;
    margin-left: 15%;
  }
}
