html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: aqua;
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}
