html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: aqua;
}

/* Links */
a {
  text-decoration: none;
}

.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}

@media (min-width: 600px) {
  nav {
    display: inline-block;
  }

  .hamburger-label {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav a {
    font-size: x-large;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
