html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}

p {
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: lightgrey;
}

main {
  background-color: lightgrey;
}

.logo-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  margin-left: 10px;
  display: flex;
  color: #1c1c1c;
}

.containerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d4d4d2;
  padding: -15px;
  margin-bottom: -25px;
  margin-top: -25px;
}

.headerimg {
  border: 70px solid lightgrey;
}

.headerimg img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-label {
  display: block;
  padding: 15px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}

.nav-text {
  padding: 10px;
}

h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 50%;
  height: 4px;
  background-color: green;
}

.loader {
  border: 16px solid lightgrey;
  border-top: 16px solid green;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  10% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.LatestPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.carousel,
.copyright,
.face,
.insta,
.snap,
.twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  object-fit: cover;
}

.content img {
  object-fit: cover;
}

.showmore {
  display: flex;
  text-align: center;
  justify-content: center;
}

.button,
button {
  background-color: green;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
  max-width: 109px;
  margin-bottom: 15px;
}

.container_contact {
  display: flex;
}

.contactimg {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  margin-top: 60px;
  object-fit: cover;
  border-radius: 40px;
}

.containerForm {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}

a,
i {
  color: #431f07;
}

.itemarrow {
  line-height: 2px;
}

i:hover {
  color: green;
}

a:hover {
  color: #824026;
}

b:hover {
  color: #4267b2;
}

s:hover {
  color: #833ab4;
}

q:hover {
  color: #fffc00;
}

img {
  width: 400px;
  height: 400px;
  justify-content: space-around;
  border-radius: 8px;
}

.form-error {
  display: none;
  color: red;
  margin-top: 2px;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 16px;
}

textarea {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 16px;
  height: 90px;
}

.containerForm {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}

.icons {
  display: flex;
  font-size: 35px;
}

.face {
  margin-right: 20px;
}
.insta {
  margin-right: 20px;
}
.snap {
  margin-right: 20px;
}

.twitter {
  margin-right: 20px;
}

.postimg {
  cursor: zoom-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10%;
}

.modal {
  display: none;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000040;
}

.image-item img {
  height: 800px;
}

.modal-container {
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container img {
  height: 500px;
  width: 600px;
}

.copyright,
.face,
.insta,
.snap,
.twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  border-top: darkgreen 4px solid;
  padding-top: 60px;
}

@media (max-width: 480px) {
  .p {
    font-size: 16px;
  }

  .LatestPosts {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

  .posts img,
  .postimg img {
    height: 300px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

  .container_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
    margin-top: 10px;
  }

  .toTop {
    margin-left: 50%;
    text-decoration: darkolivegreen;
  }

  .copyright {
    margin-left: 15%;
  }

  .icons {
    font-size: 40px;
    margin-left: 15%;
  }

  input {
    width: 95%;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
  }

  .headerimg {
    border: 10px solid lightgrey;
  }

  .headerimg img {
    width: 100%;
    height: 300px;
  }

  img {
    width: 400px;
    height: 400px;
    justify-content: space-around;
    border-radius: 8px;
  }
}

@media (min-width: 600px) {
  nav {
    display: inline-block;
  }

  .hamburger-label {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    display: flex;
    align-items: center;
  }

  nav a {
    font-size: x-large;
    font-weight: bolder;
  }
}
